<div class="home">
    <h1>Hi</h1>
    <ul>
        <li>Drive: {{ c.drive }}</li>
        <li>Turn: {{ c.turn }}</li>
        <li>isFiring: {{ c.isFiring }}</li>
        <li>elevation: {{ c.elevation }}</li>
        <li>buttons: {{ c.buttons | json }}</li>
    </ul>
    <div class="btn-group">
        <button class="btn" ng-click="c.beep()">Beep</button>
        <button class="btn" ng-click="c.reset()">Reset</button>
        <button class="btn" ng-click="c.wakeup()">Wake Up</button>
        <button class="btn" ng-click="c.start()">Start</button>
        <button class="btn" ng-click="c.safe()">Safe</button>
        <button class="btn" ng-click="c.dock()">Dock</button>
        <button class="btn" ng-click="c.stop()">Stop</button>
        <button class="btn" ng-click="c.off()">Off</button>
        <button class="btn" ng-click="c.auxPowerOn()">Aux On</button>
        <button class="btn" ng-click="c.auxPowerOff()">Aux Off</button>
        <button class="btn" ng-click="c.status()">Status</button>
        <button class="btn" ng-click="c.statusCheck()">Status Check</button>
    </div>
    <div class="btn-group">
        <button class="btn" ng-click="c.chargeSong()">Charge</button>
        <button class="btn" ng-click="c.ironManSong()">Iron Man</button>
        <button class="btn" ng-click="c.mario11()">Mario 1-1</button>
        <button class="btn" ng-click="c.mario12()">Mario 1-2</button>
        <button class="btn" ng-click="c.marioOver()">Mario Game Over</button>
    </div>
    
    <div>
        Wifi RSSI: {{ c.wifiStatus | json }}
    </div>
    <div>
        Battery charge:
        <div class="progress">
            <div class="progress-bar" ng-class="{ 'progress-bar-success': !!c.status.chargingState, 'progress-bar-warning': !c.status.chargingState }" ng-style="{ width: ((c.status.batteryCharge / (c.status.batteryCapacity || 1)) * 100 + '%') }">
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#status" aria-controls="home" role="tab" data-toggle="tab">Status</a></li>
        <li role="presentation"><a href="#camera" aria-controls="camera" role="tab" data-toggle="tab">Camera</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="status">
        <pre>{{ c.status | json }}</pre>
        </div>
        <div role="tabpanel" class="tab-pane" id="camera">
            <p><a href="http://10.10.1.25:8080/?action=stream" target="_blank">New Window</a></p>
            <iframe src="http://10.10.1.25:8080/?action=stream" height="720" width="1280"></iframe>
        </div>
    </div>
</div>
